


body {font-family: sans-serif}
h1 {font-weight: bold;text-align: center}
h2 {font-weight: bold; color: black; font-style: italic}
h3 {color: brown; border: 3px solid gold; padding: 40px; font-weight: bold;
    font-style: italic}
h4 {font-weight: bolder; text-align: center;}

li {
    font-weight: bold;
    color: black;
    left: 89px;
    
}
img {
    width: 50%;
}


p {font-weight: normal;
    text-shadow: 0px 5px orange;}
 

 

